<p>
  <%= Spree.t(:webpay_redirect) %>
</p>

<% unless Rails.env.production? %>
  <%
    payment_method  = @order.webpay_payment_method
    provider        = payment_method.provider

    trx_id          = @payment.webpay_trx_id
    amount          = @order.webpay_amount
    result_url      = webpay_result_url(protocol: provider.config.tbk_webpay_protocol)
    failure_url     = webpay_failure_url(protocol: provider.config.tbk_webpay_protocol)
    tbk_params_hash = provider.tbk_params_hash(amount, @order.number, trx_id, result_url, failure_url, @payment.id)
  %>

  Parámetros a enviar a CGI pagos:
  <dl>
    <% tbk_params_hash.each do |key, value| %>
      <dt><%= key %></dt>
      <dd><%= value %></dd>
    <% end %>
  </dl>
<% end %>
