<p>
  <%= Spree.t(:webpay_redirect) %>
</p>

<% unless Rails.env.production? %>
  <%
    provider        =  Spree::Gateway::WebpayPlus.last.provider

    amount          = @order.webpay_amount
    result_url      = webpay_result_url(protocol: provider.config.tbk_webpay_protocol)
    failure_url     = webpay_failure_url(protocol: provider.config.tbk_webpay_protocol)
    trx_id          = Digest::MD5.hexdigest("#{@order.number}#{@order.payments.any? ? @order.payments.count : 1}")
    tbk_params_hash = provider.tbk_params_hash(amount, @order.number, trx_id, result_url, failure_url)
  %>

  Parámetros a enviar a CGI pagos:
  <dl>
    <% tbk_params_hash.each do |key, value| %>
      <dt><%= key %></dt>
      <dd><%= value %></dd>
    <% end %>
  </dl>
<% end %>
