<div class="panel panel-default" id="order_details" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:checkout) %></h3>
  </div>
  <div class="panel-body">
    <h2><%= "#{Spree.t(:webpay_payment_incompleted)} Nº #{params[:TBK_ORDEN_COMPRA]}" %></h2>
    <p>Las posibles causas de este rechazo son:</p>
    <ul>
      <li>
        <span>Error en el ingreso de los datos de su tarjeta de crédito o Debito (fecha y/o código de seguridad).</span>
      </li>
      <li>
        <span>Su tarjeta de crédito o debito no cuenta con el cupo necesario para cancelar la compra.</span>
      </li>
      <li>
        <span>Tarjeta aún no habilitada en el sistema financiero. </span>
      </li>
    </ul>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= link_to Spree.t(:back), checkout_state_path("payment"), class: "btn btn-info"  %>
</div>